# pip install -r requirements.txt
moviepy # per estrarre l'audio dai video.
speechRecognition # per la trascrizione dell'audio.
googletrans
# subtitles # (creata ad hoc) per creare file SRT e analizzare i testi.
srt
spacy
